{% extends 'blog/basic.html' %}
{% block css %}
a:hover{
  color:red
}
{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="row mb-2">
      {%for i in blog%}


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{i.title}}</strong>
          <h3 class="mb-0">{{i.head0}}</h3>
          <div class="mb-1 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">{{i.chead0|slice:"0:155"}}...</p>
          <a href="/blog/blogpost/{{i.post_id}}" class="stretched-link">Read More</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src='/media/{{i.thumbnail}}' alt="">
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
  </div>

{% endblock%}
    